
@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');

body{
  background-color: #181818;
  font-family: 'Special Elite', cursive;
  color: white;
}
.btn-color{
  color:white;
  background-color: grey;
} 